<section id="sell" class="bg-light-gray">
 	<div class="container">
		<div clas="row">
		  <% @cars.each do |car| %>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<%= image_tag "logo.jpg", class: "img-responsive img-thumbnail", style: "margin-bottom: 20px;" %>				
				<h5><%= car.year %> <%= car.brand.name %> <%= car.brand.model %></h5>
				<p>Transmission: <%= car.features["Transmission"] %></p>
				<p>Mileage: <%= car.features["Mileage"] %> miles</p>
				<h5>Price: <%= number_to_currency car.features["Price"] %></b></h5>
				<br>
				<%= link_to "See Details", "#", class: "btn btn-primary btn-block", style: "margin-bottom: 20px;" %>
			</div>
		  <% end %>
		</div>
	</div>
</section>