<h3 class="text-center">All Brand - Models</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Brand</th>
      <th>Model</th>
      <th>For Sale</th>
      <th>Sold</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @brands.each do |brand| %>
      <tr>
        <td><%= brand.name %></td>
        <td><%= brand.model %></td>
        <td><% counter = 0 %>
            <% brand.cars.where(sale_status: "For Sale").each do %>
                <% counter += 1 %>
            <% end %>
            <%= counter %>
        </td>
        <td><% counter = 0 %>
            <% brand.cars.where(sale_status: "Sold").each do %>
                <% counter += 1 %>
            <% end %>
            <%= counter %>
        </td>
        <td><%= link_to 'Edit', edit_brand_path(brand), remote: true %></td>
        <td><%= link_to 'Destroy', brand, remote: true , method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>