<h3 class="text-center">All Cars</h3>
<hr>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Brand - Model</th>
      <th>Year</th>
      <th>Price</th>
      <th>Mileage</th>
      <th>Sale Status</th>
      <th>Sale Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cars.each do |car| %>
      <tr>
        <td><%= car.brand.name %> <%= car.brand.model %></td>
        <td><%= car.year %></td>
        <td><%= number_to_currency car.features["Price"] %></td>
        <td><%= car.features["Mileage"] %></td>
        <td><%= car.sale_status %></td>
        <td><% unless car.sale_date.nil? %><%= car.sale_date.strftime('%Y-%m-%d at %H:%M') %><% end %></td>
        <td><%= link_to 'Show', car %></td>
        <td><%= link_to 'Edit', edit_car_path(car), remote: true %></td>
        <td><%= link_to 'Destroy', car, remote: true, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>