<%= render 'navbar' %>
<div class="jumbotron" style="background: #f8f8f8; padding-left: 1%; padding-right: 1%; padding-top: 70px;">
  <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
        <%= link_to new_car_path, remote: true, class: "btn btn-primary btn-lg btn-block", style: "margin-bottom: 5px;" do %> <span class="glyphicon glyphicon-plus"></span> Add Car <% end %>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
        <%= link_to cars_path, remote: true, class: "btn btn-primary btn-lg btn-block", style: "margin-bottom: 5px;" do %> <i class="fa fa-car fa-fw"></i></span> All Cars <% end %>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
        <%= link_to new_brand_path, remote: true, class: "btn btn-default btn-lg btn-block", style: "margin-bottom: 5px;" do %> <span class="glyphicon glyphicon-plus"></span> ADD BRAND & MODEL <% end %>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
        <%= link_to brands_path, remote: true, class: "btn btn-default btn-lg btn-block" do %> <i class="fa fa-car fa-fw"></i></span> ALL BRAND - MODELS <% end %>
      </div>
  </div>
  <hr style="margin: 10px 0;">
  <div class="row">
    <div class="col-md-12">

      <div id="car-form" style="display: none;"></div>
      <div id="brand-form" style="display: none;"></div>
      <div id="all-cars"><%= render 'cars' %></div>
      <div id="all-brand-models" style="display: none;"></div>
    </div>
  </div>
</div>

